<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/projeto-eleicoes/public/css/styles.css">
    <title>Cadastrar Partido</title>
</head>
<body>
    <form id="partido-form">
        <input type="text" id="nome" placeholder="Nome do Partido" required>
        <input type="text" id="sigla" placeholder="Sigla" required>
        <input type="number" id="numeroRegistro" placeholder="Número de Registro" required>
        <button type="submit">Cadastrar Partido</button>
    </form>
    <script src="/projeto-eleicoes/public/js/partido.js"></script>
</body>
</html>
