<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/projeto-eleicoes/public/css/styles.css">
    <title>Cadastrar Candidato</title>
</head>
<body>
    <form id="candidato-form">
        <input type="text" id="nome" placeholder="Nome do Candidato" required>
        <input type="number" id="numeroCandidato" placeholder="Número do Candidato" required>
        <button type="submit">Cadastrar Candidato</button>
    </form>
    <script src="/projeto-eleicoes/public/js/candidato.js"></script>
</body>
</html>
